.footer {
  background-color: black;
  color: white;
  bottom: 0;
  position: relative;
  width: 100%;
  margin-top: 500px;
}
.footerTop {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}
.companyLogo {
  padding: 0;
}
.footerLeft {
  display: inline;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  padding-left: 65px;
  padding-bottom: 15px;
  padding-right: 200px;
}
.footerLeft p {
  width: 100px;
}
.quickAccess {
  padding-right: 96px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.quickAccess li {
  padding: 10px;
}
.footerMiddle {
  padding-left: 370px;
  padding-top: 5px;
}
.footerMiddle ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.secureLogo {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 15px;
}
.footerLine {
  opacity: 50%;
  background-color: white;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.copyRight {
  text-align: center;
}
.mobileFooter {
  display: none;
}
@media (max-width: 768px) {
  .footer {
    background-color: #fff;
  }
  .desktopFooter {
    display: none;
  }
  .mobileFooter {
    display: inline;
  }
  .whiteFooter {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding-left: 65px;
    margin-top: -292px;
  }
  .whiteFooter img {
    padding-right: 50px;
  }
  .quickMenu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    color: black;
    padding-left: 65px;
    padding-right: 65px;
  }
  .quickMenu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
  }
  .blackFooter {
    background-color: #000;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .blackFooter p {
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    color: #ffffff;
  }
  .blackFooter ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    color: #fff;

    padding-left: 65px;
    padding-right: 65px;
  }
  .blackFooter li {
    padding-left: 25px;
  }
  .blackFooter img {
    width: 58.82px;
    height: 26.99px;
    margin-left: 186px;
    margin-bottom: 10px;
  }
  .blackFooter hr {
    position: absolute;
    width: 470px;
    border: 0.5px 0px 0px 0px;
    opacity: 50%;
  }
  .copyRightMobile {
    color: #fff;
    padding-left: 20px;
  }
}
